fpga/db/
fpga/incremental_db/
fpga/software/candy_avb_test/obj/
fpga/software/candy_avb_test_bsp/obj/
fpga/software/candy_avb_sss/obj/
fpga/software/candy_avb_sss_bsp/obj/
fpga/software/.metadata/
*.bak
*.tcl~

fpga/software/candy_avb_test/NumBytes_IC_1\.dat

fpga/software/candy_avb_test/NumBytes_IC_2\.dat

fpga/software/candy_avb_test/TxBuffer_IC_1\.dat

fpga/software/candy_avb_test/TxBuffer_IC_2\.dat
